:root{
   --color-1: black;
   --text-color: white;
   --accent-color: rgb(0, 26, 255);
}
*{
margin: 0;
padding: 0;
}
html{
    font-size: 12pt;
    font-family: Poppins, Segoe UI, Tahoma, sans-serif;
}

nav{
    height: 60px;
    background-color: var(--color-1);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.links-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;

}
nav a{
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);

}
nav a:hover{
    background-color: var(--accent-color); 
}
nav .home-link{
    margin-right: auto;
}
nav svg{
    fill: var(--text-color)
}
#sidebar-active{
    display: none;
}
.open-sidebar-button, .close-sidebar-button{
   
    display: none;
}
@media (max-width:450px) {
    .links-container{
        
        flex-direction: column;
        align-items: flex-start;

        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 300px;
        
        background-color: var(--color-1);
        box-shadow: -5px 0 5px rgba(0, 0, 0, 0,25);
        transition: 0.5s ease-out;
    }
    nav a{
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 20px 30px;
        justify-content: flex-start;

    }
        .open-sidebar-button,
        .close-sidebar-button {
            padding:  20px;
             display: block;
        }
        #sidebar-active:checked ~ .links-container{
            right: 0;
        }
        #sidebar-active:checked ~ #overlay{
            
            height: 100%;
            width: 100%;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 9;
        }
}

.Lebronjames{
    position:absolute;
    width: 100%;
    top: 15%;

}
.aboutnike{
    position: absolute;
    top: 140%;

}

.img_nikeblue{
    position:absolute;
    width: 800px;
    top: 200%;
    left: 40%;
    z-index: 1;

}

.img_nikered {
    width: 550px;
    position: absolute;
    top: 160%;
    left: 10%;

}
.img_nikeblack{
    position:absolute;
    width: 750px;
    top: 180%;
    left: 20%;
}
